/****** Header Section ******/

.header-section-ab {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(./about.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}

.title-hm-ab {
    font-size: 55px;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 30%;
    left: 25%;
    text-align: center;
}

.btn-ab1 {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 500px;
    padding: 20px 45px;
    font-size: 20px;
    top: 45%;
    left: 43%;
    background: transparent;
    position: absolute;
    cursor: pointer;
}

.btn-ab1:hover {
    border: 1px solid red;
    background: red;
    transition: 1s;
}

/****** Mission Statement Section ******/

.miss-stat-h1 {
    text-align: center;
    font-size: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
}

.miss-stat p {
    text-align: center;
    font-size: 20px;
    color: black;
    width: 52%;
    padding-bottom: 20px;
    margin-left: 24%;
}

.miss-stat hr {
    width: 65%;
    margin: 40px;
    height: 4px;
    margin-left: 18%;
    background: black;
    margin-top: 2px;
    margin-bottom: 25px;
}

/****** Founders Section ******/

.tact-found-h1 {
    text-align: center;
    font-size: 45px;
    padding-top: 10px;
    padding-bottom: 40px;
    color: black;
}

.img-box img {
    width: 50%;
    margin-left: 60px;
    position: relative;
    border-style: solid;
    border-width: 10px;
    border-color: black;
}

.bio-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 500px;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-left: 63%;
  position: absolute;
  bottom: -145%;
  border-style: solid;
  border-color: black;
  border-width: 8px;
}

.bio-box p {
    font-size: 18px;
    word-spacing: 5px;
    padding: 20px;
    color: black;
    text-align: center;
}

.bio-box h1 {
    padding-bottom: 15px;
    color: black;
    font-size: 30px;
}


/****** Vision Section ******/

.vision-h1 {
    text-align: center;
    font-size: 45px;
    padding-top: 40px;
    color: black;
}

.vision-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .vs-card {
    width: 270px;
    border-radius: 20px;
    overflow: hidden;
    border-color: black;
    border-style: solid;
    border-width: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 40px;
    transition: 0.5s ease;
    cursor: pointer;
    padding: 25px;
  }
  
  .vision-cards h2 {
      text-align: center;
      margin-bottom: 10px;
      color: black;
      font-size: 30px;
  }
  
  .vision-cards p {
      text-align: center;
      padding-bottom: 20px;
      color: black;
  }
  
  .fa-book-bible {
      margin-left: 29%;
      font-size: 95px;
      padding-top: 30px;
      padding-bottom: 20px;
      color: black;
  }
  
  .fa-users {
      margin-left: 20%;
      font-size: 95px;
      padding-top: 30px;
      padding-bottom: 20px;
      color: black;
  }
  
  .fa-church {
      margin-left: 20%;
      font-size: 95px;
      padding-top: 30px;
      padding-bottom: 20px;
      color: black;
  }
  
  .fa-earth-americas {
      margin-left: 25%;
      font-size: 95px;
      padding-top: 30px;
      padding-bottom: 20px;
      color: black;
  }
  
  .vs-card:hover {
      transform: scale(1.1);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }

/****** Believe & Celebrate Section ******/

.bel-cel {
    padding-bottom: 30px;
}

.bel-cel-h1 {
    text-align: center;
    font-size: 45px;
    padding-top: 20px;
    padding-bottom: 40px;
    color: black;
}

.btn-ab2 {
  display: inline-block;
  text-decoration: none;
  color: red;
  border: 1px solid red;
  border-radius: 500px;
  padding: 20px 45px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 35%;
}

.btn-ab2:hover {
  border: 1px solid red;
  background: red;
  transition: 1s;
  color: #fff;
}

.btn-ab3 {
  display: inline-block;
  text-decoration: none;
  color: red;
  border: 1px solid red;
  border-radius: 500px;
  padding: 20px 45px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 10%;
}

.btn-ab3:hover {
    border: 1px solid red;
    background: red;
    transition: 1s;
    color: #fff;
}

/****** Responsiveness ******/

@media screen and (min-width:1600px) and (max-width: 4000px) {
    .title-hm-ab {
        left: 30%;
    }
    
    .btn-ab1 {
        left: 44.5%;
    }

    .img-box img {
        width: 45%;
        margin-left: 5%;
    }

    .bio-box {
        bottom: -114%;
        height: 620px
    }

    .bio-box h1 {
        font-size: 30px;
    }

    .bio-box p {
        font-size: 20px;
    }

    .miss-stat hr {
        width: 61%;
        margin-left: 20%;
    }

    .btn-ab2 {
        margin-left: 36%;
    }

}

@media screen and (max-width: 800px) {

    .header-section-ab {
        min-height: 70vh;
      }

    .title-hm-ab {
        font-size: 30px;
        left: 0.5%;
    }

    .btn-ab1 {
        padding: 15px 25px;
        font-size: 15px;
        left: 34%;
        top: 46%;
    }

    .miss-stat-h1 {
        font-size: 35px;
    }

    .miss-stat p {
        font-size: 16px;
        margin-left: 10%;
        width: 80%;
    }

    .miss-stat hr {
        width: 90%;
        margin-left: 5%;
    }

    .tact-found-h1 {
        font-size: 35px;
    }

    .img-box img {
        width: 80%;
        padding-bottom: 30px;
        margin: auto;
        left: 10%;
        border: none;
    }

    .bio-box {
        margin: auto;
        width: 340px;
        position: relative;
        left: 0%;
    }

    .bio-box p {
        font-size: 15px;
    }

    .bio-box h1 {
        font-size: 25px;
    }

    .vision-h1 {
        font-size: 35px;
    }

    .bel-cel-h1 {
        font-size: 35px;
        
    }

    .btn-ab2 {
        padding: 15px 25px;
        font-size: 15px;
        position: relative;
        left: -70px;
    }

    .btn-ab3 {
        padding: 15px 25px;
        font-size: 15px;
        position: absolute;
        left: 44%;
    }
    
}