/****** Header Section ******/

.header-glo {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(./Images/global.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header-glo h1 {
    font-size: 55px;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 30%;
    left: 25%;
    text-align: center;
}

/****** Middle Section ******/

.middle-glo h1 {
    text-align: center;
    font-size: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
}

.middle-glo p {
    text-align: center;
    font-size: 20px;
    color: black;
    width: 50%;
    padding-bottom: 20px;
    margin: auto;
}

.middle-glo hr {
    width: 72%;
    margin: 40px;
    height: 4px;
    margin-left: 14.7%;
    background: black;
    margin-top: 2px;
    margin-bottom: 3%;
}

/****** Global Section ******/

.logo-container {
    margin: 20px;
}

.logo {
    margin-bottom: 90px;
}

.logo img {
    position: absolute;
    padding-left: 13.5%;
    align-items: left;
    display: block;
}

.logo h2 {
    text-align: center;
    margin-left: 57%;
    text-align: left;
}

.logo a {
    margin-left: 57%;
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 500px;
    padding: 10px 35px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-glo:hover {
    border: 1px solid black;
    background: black;
    transition: 1s;
    color: #fff;
}

/****** Responsiveness ******/

@media screen and (min-width:1600px) and (max-width: 4000px) {
    .header-glo h1 {
        left: 30%;
    }

    .middle-glo hr {
        width: 70%;
    }

    .logo {
        padding-left: 10px;
    }

    .logo p, .logo a, .logo h2 {
        margin-left: 50%;
    }
    

}

@media screen and (max-width: 800px) {
    .header-glo {
        min-height: 70vh;
    }

    .header-glo h1 {
        font-size: 30px;
        text-align: center;
        left: auto;
    }

    .middle-glo h1 {
        font-size: 35px;
    }

    .middle-glo p {
        font-size: 15px;
        width: 60%;
        margin: auto;
    }

    .middle-glo hr {
        margin-left: 13%;
    }

    .logo img {
        width: 80%;
        padding-left: 8%;
        height: 5%;
        
    }

    .logo h2 {
        position: relative;
        padding-top: 50px;
        margin: auto;
        text-align: center;
    }

    .logo p {
        margin: auto;
        width: 80%;
    }

    .logo a {
        margin-left: 28%;
    }

}


