*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar {
    padding-bottom: 10px;
    background: #2D3033;
}


.icon-menu li{
    display: inline-block;
    list-style: none;
    margin-right: 25px;
    margin-top: 20px;
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.nav-menu li{
    display: inline-block;
    list-style: none;
    margin: 10px 80px 5px;
    position: relative;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

#home-link, #about-link, #blog-link, #serve-link, #give-link, #global-link, #contact-link {
    text-decoration: none;
    color: white;
}

.logo-top {
    margin-left: 40px;
    margin-top: 5px;
}

.navbar-line{
    width: 94.5%;
    margin: 40px;
    height: 4px;
    background: white;
    margin-top: 2px;
    margin-bottom: 5px;
}

.nav-menu li::after {
    content: '';
    width: 0;
    height: 3px;
    background: red;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.nav-menu li:hover::after {
    width: 100%;
}

nav .fa-circle-xmark {
    display: none;
}

.fa-bars {
    display: none;
}

@media screen and (min-width:1600px) and (max-width: 2000px) {
    .nav-menu{
        margin-left: 200px;
    }

    .navbar-line {
        width: 95.5%;
    }
}

@media screen and (max-width: 800px) {
    .logo-top {
        margin: auto;
        width: 350px;
    }
}